body{
    background-color:#99ffff;
}

.plofile{
    border-radius:10px;
    margin:10px auto;
    text-align:center;
    padding:20px 0;
    background-color:#fffff0;
}

.name{
    padding:5px 0;
    font-size:25px;
}

.name h1{
    margin-bottom:3px;
    padding-bottom:0px;
}

.univ{
    font-weight:normal;
}

.favorite-food{
    border-radius:10px;
    margin:10px auto;
    text-align:center;
    padding:20px 0;
    background-color:#fffff0;
}

.title{
    border-bottom:1px solid #afacac;
    width:80%;
    margin:30px auto;
}

.favorite-food h3{
    font-size:30px;
}

.noodle{
    margin:50px 0;
}

.noodle img{
    height:320px;
    width:320px;
}

.kebab{
    margin:50px 0;
}

.kebab img{
    height:320px;
    width:320px;
}

.favorite-food img:hover{
    height:480px;
    width:480px;
}

.link{
    border-radius:10px;
    margin:10px auto;
    text-align:center;
    padding:20px 0;
    background-color:#fffff0;
}

.twitter{
    display:inline-block;
    background-color:#32eeff;
    color:white;
    cursor:hand;
    opacity:0.7;
    margin-right:60px;
    padding:10px;
}

.facebook{
    display:inline-block;
    background-color:#3240ff;
    color:white;
    cursor:hand;
    opacity:0.7;
    padding:10px;
}

.link a:hover{
    opacity:1;
    font-size:40px;
}